$gray: #c9c9c9;

.step-progress {

    .progress {
        padding-top: 4rem;
        padding-bottom: 2rem;
        padding-inline: 4em;
        transform: scaleX(-1);
    }

    .circle {
        height: 4rem;
        width: 4rem;
        background-color: #fff;
        color: #fff;
        border: 1px solid $gray;
        border-radius: 50%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;

        @media screen and (max-width: 925px) {
            height: 2rem;
            width: 2rem;
        }

        .icon {
            font-size: 2rem;

            @media screen and (max-width: 925px) {
                font-size: 1rem;
            }
        }

        .grayscale{
            color: $gray;
        }
    }

    .titles {
        ul {
            font-size: 0.8rem;
            font-weight: 700;
            list-style: none;
            padding-inline: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li {
                text-align: center;
            }
        
        }

    }
}