.nav-bar {
    position: relative;
    padding-inline: calc((100vw - 74%) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 9rem;
    background-color: #FFF;
    z-index: 99999;

    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        max-width: 100%;
        transition: all 0.7s ease-in-out;
        @media screen and(max-width: 1300px) {
            max-width: 120px;
        }
    }

    .mobile-bars {
        display: none;
        color: #FF0F21;

        @media screen and (max-width: 925px) {
            display: block;
            padding: 1rem;
            font-size: 1.8rem;
            cursor: pointer;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;  

        @media screen and (max-width: 925px) {
            display: none;
        }
    
        .NavLink {
            font-size:  1rem;
            color: #101010;
            font-weight: 700;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 2em 1em;
            height: 100%;
            cursor: pointer;
            border-top: 3px solid #FFF;
            transition: 0.7s;
            
            &:hover {
                color: #101010b4;
                border-top: 3px solid #ff0f21;
            }

            @media screen and (max-width: 1300px) {
                font-size: 0.875rem;    
            }
        }

        .shipment {
            display: flex;
            justify-content: space-between;

            :last-child {
                font-size: 1.4rem;
                color: #FF0F21;
            }
        }

        .lang {
            color: #FF0F21;

            &:hover {
                color: #ff0f1fc2;
                border-top: 3px solid #ff0f21;
            }
        }
    }
}
